src/main/resources/META-INF/tf-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.xteam.org/taskflow" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns:util="http://www.springframework.org/schema/util"
            targetNamespace="http://www.xteam.org/taskflow" elementFormDefault="qualified"
            attributeFormDefault="unqualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="task">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:group ref="taskElements"/>
                    <xsd:attributeGroup ref="taskAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:group name="taskElements">
        <xsd:sequence>
            <xsd:element ref="description" minOccurs="0"/>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="routing"/>
                <xsd:element ref="property"/>
                <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>

    <xsd:element name="description">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
	Contains informative text describing the purpose of the enclosing element.
	Used primarily for user documentation of XML bean definition documents.
			]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType mixed="true">
            <xsd:choice minOccurs="0" maxOccurs="unbounded"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attributeGroup name="taskAttributes">
    	<xsd:attribute name="ref" type="xsd:string" use="required">
            <xsd:annotation>
                <!--<xsd:appinfo>-->
                <!--<tool:annotation kind="ref">-->
                <!--<tool:expected-type type="java.lang.Object"/>-->
                <!--</tool:annotation>-->
                <!--</xsd:appinfo>-->
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="method" type="xsd:string" use="optional">
            <xsd:annotation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="extra" type="xsd:string" use="optional">
            <xsd:annotation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>


    <xsd:element name="routing">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <!--<xsd:group ref="taskElements"/>-->
                    <xsd:attributeGroup ref="routingAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <!--<xsd:element name="routing" type="headRouting">-->
    <!--<xsd:annotation>-->
    <!--<xsd:documentation><![CDATA[ The method invoke timeout. ]]></xsd:documentation>-->
    <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <xsd:attributeGroup name="routingAttributes">
        <xsd:attribute name="key" type="xsd:string" default="@default">
            <![CDATA[ ]]>
        </xsd:attribute>
        <xsd:attribute name="toTask" type="xsd:string" use="required">
            <xsd:annotation>
                <!--<xsd:appinfo>-->
                <!--<tool:annotation kind="ref">-->
                <!--<tool:expected-type type="com.lizo.busflow.station.Station"/>-->
                <!--</tool:annotation>-->
                <!--</xsd:appinfo>-->
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="patten" type="xsd:string" default="string"><!-- string or regex -->
            <![CDATA[ ]]>
        </xsd:attribute>
        <xsd:attribute name="extra" type="xsd:string" use="optional">
            <![CDATA[ ]]>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:element name="property" type="propertyType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The method invoke timeout. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="propertyType">
        <xsd:attribute name="name" type="xsd:string" use="required">
            <![CDATA[ ]]>
        </xsd:attribute>
        <xsd:attribute name="key" type="xsd:string" use="required">
            <![CDATA[ ]]>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="work">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The method invoke timeout. ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:group ref="workElements"/>
                    <xsd:attributeGroup ref="workAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:attributeGroup name="workAttributes">
        <!-- <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
            </xsd:annotation>
        </xsd:attribute> -->
        <xsd:attribute name="start" type="xsd:string">
            <xsd:annotation>
                <!--<xsd:appinfo>-->
                <!--<tool:annotation kind="ref">-->
                <!--<tool:expected-type type="com.lizo.busflow.station.Station"/>-->
                <!--</tool:annotation>-->
                <!--</xsd:appinfo>-->
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxTasks" type="xsd:integer" default="100000">
            <![CDATA[ ]]>
        </xsd:attribute>
        <xsd:attribute name="finish" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <tool:annotation kind="ref">
                        <!--<tool:expected-type type="java.lang.Object"/>-->
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="traceable" type="xsd:boolean" default="false">
            <![CDATA[ ]]>
        </xsd:attribute>
        <xsd:attribute name="class" type="xsd:string" default="taskflow.worker.CustomRouteWork">
            <![CDATA[ ]]>
        </xsd:attribute>
    </xsd:attributeGroup>
	<xsd:group name="workElements">
        <xsd:sequence>
            <xsd:element name="task-ref" minOccurs="0" maxOccurs="unbounded">
            	<xsd:complexType mixed="true">
		            <xsd:attribute name="value" type="xsd:string">
			            <![CDATA[ ]]>
			        </xsd:attribute>
			        <xsd:attribute name="extra" type="xsd:string">
			            <![CDATA[ ]]>
			        </xsd:attribute>
		        </xsd:complexType>
            </xsd:element>
			<xsd:element name="constructor-arg" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType mixed="true">
					<xsd:attribute name="index" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
							<![CDATA[ The exact index of the argument in the constructor argument list. Only needed to avoid ambiguities, e.g. in case of 2 arguments of the exact same type. ]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
							<![CDATA[ The exact type of the constructor argument. Only needed to avoid ambiguities, e.g. in case of 2 single argument constructors that can both be converted from a String. ]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="name" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
							<![CDATA[ The exact name of the argument in the constructor argument list. Only needed to avoid ambiguities, e.g. in case of 2 arguments of the exact same type. Note: This requires debug symbols to be stored in the class file in order to introspect argument names! ]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="ref" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
							<![CDATA[ A short-cut alternative to a nested "<ref bean='...'/>" element. ]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="value" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
							<![CDATA[ A short-cut alternative to a nested "<value>...<value/>" element. ]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:element name="workFactory">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The method invoke timeout. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>


